

body{
    background-image: url(img/banner-bg-Photoroom.png);
    background-repeat: no-repeat;
    background-size: 100vw;
}

.navbar{
    width: 40%;
    margin: auto;
}
 
a:active,a:hover,a:link,a:visited{
    color: white;
    text-decoration: none;
}

.navbar li{
    margin-left: 5vw;
}

.portfolio{
    width: 80%;
    margin: auto;
    margin-top: 8vh;
}

.port{
    display: flex;
    gap: 5vw;
    margin-top: 8vh;
    margin-bottom: 4vh;
}

.port1{
    border-radius: 30px;
}

.porto{
    display: flex;
    gap: 19vw;
    margin-top: 8vh;
    margin-bottom: 4vh;
}

.footer{
    width: 100%;
    margin-top: 80vh;
    background-color: rgb(1, 10, 1);
    height: 200px;
    
}

.foot{
    display: flex;
    gap: 2vw;
    justify-content: center;
   
}

.f1{
    width: 50px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
    justify-content: center;
    padding-left: 1vw;
    padding-top: 1vh;
    margin-top: 10vh;
}

.text-5{
    margin-top: 4vh;
    text-align: center;
}