.a{
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: center;
}

.navbar {
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin: auto;
    background-color: transparent;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-left: 5vw;
}

.navbar li a:active,
.navbar li a:link,
.navbar li a:visited {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
    }

    .navbar li {
        margin-left: 2vw;
    }
}

.text-1 {
    width: 90%;
    margin: auto;
    margin-top: 15vh;
    color: white;
}

.t1 {
    font-size: 3rem;
}

@media (max-width: 768px) {
    .text-1 {
        margin-top: 10vh;
    }
    .t1 {
        font-size: 2rem;
    }
}

.avatar {
    position: relative;
    bottom: 29vh;
    margin: auto;
    margin-left: 80%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .avatar {
        bottom: 20vh;
    }
}

@media (max-width: 430px) {
    .avatar {
        bottom: -1vh;
        margin-left: 30%;
        transform: translateX(-50%);
    }
    .social{
        padding-left: 30vw;
        flex-direction: row;
    }
    .all{
        margin-bottom: 10vh;
    }
    .ser-ic {
        flex-direction: column;
        gap: 2vw;
    }

    .s1, .s2, .s3, .s4 {
        width: 100%;
        height: auto;
        max-width: 900px;
    }
    .logo-1{
        width: 200px;
        height: 205px;
    }
    .logo-1:hover{
        transform:translateY(-8px);
    }
}

.social {
    width: 90%;
    margin: auto;
    margin-top: -10px;
    text-decoration: none;
    justify-content: space-between;
    gap: 3vw;
    display: flex;
}

@media (max-width: 768px) {
    .social {
        gap: 2vw;
        
    }
}

.about {
    width: 69%;
    margin: auto;
    margin-bottom: 15vh;
}

.about h1 {
    background: linear-gradient(to right, #8f8d8d, #ff6b08, #000000, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media (max-width: 768px) {
    .about {
        width: 90%;
    }
}

.service {
    width: 70%;
    margin: auto;
    margin-bottom: 5vh;
}

.ser-ic {
    text-align: center;
    margin-top: 8vh;
    display: flex;
    gap: 5vw;
    margin-bottom: 10vh;
}

.ser-ic a:hover {
    text-decoration: none;
}
.logo-1{
    width: 225px;
    height: 205px;
    
}
.logo-1:hover{
    transform:translateY(-8px);
}
.s1, .s2, .s3, .s4 {
    border: 3px solid rgb(46, 46, 46);
    width: 100%;
    max-width: 600px;
    height: auto;
}

@media (max-width: 768px) {
    .ser-ic {
        flex-direction: column;
        gap: 2vw;
    }

    .s1, .s2, .s3, .s4 {
        height: auto;
    }
}

.resume h2{
    font-size: 2rem;
}
.portfolio {
    width: 70%;
    margin: auto;
    margin-top: 20%;
}

.port, .portto, .porto {
    display: flex;
    gap: 10vw;
    margin-top: 8vh;
    margin-bottom: 4vh;
}

.img1 {
    width: 100%;
    max-width: 400px;
    height: auto;
}

@media (max-width: 768px) {
    .port, .portto, .porto {
        flex-direction: column;
        gap: 4vw;
    }

    .img1 {
        width: 100%;
        height: auto;
    }
}

.btn1, .btn2, .btn3 {
    text-align: center;
    padding: 1vw;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.btn3 {
    width: 100px;
    background-color: #ff6b08;
    border: none;
}

.contact {
    width: 70%;
    margin: auto;
    text-align: center;
}

.frm {
    margin-top: 5vh;
}

.int1, .int2 {
    width: 60%;
    height: 50px;
}

.int2 {
    height: 100px;
}

@media (max-width: 768px) {
    .int1, .int2 {
        width: 90%;
    }

    .btn3 {
        width: 80%;
    }
}

.resume {
    text-align: center;
    padding-top: 50px;
}

.footer {
    width: 100%;
    margin-top: 80px;
    background-color: rgb(1, 17, 1);
    height: auto;
}

.foot {
    display: flex;
    gap: 2vw;
    justify-content: center;
}

.f1 {
    width: 50px;
    height: 40px;
    /* background-color: #000000; */
     border-radius: 50%;
    justify-content: center;
    padding-left: 1vw;
    padding-top: 1vh;
    margin-top: 10vh;
    color: white; 
    margin-bottom: 8vh;
    padding-bottom: -150vh;
}

@media (max-width: 768px) {
    .foot {
        gap: 2vh;
    }

    .f1 {
        width: 40px;
        height: 30px;
    }
}

.text-5 {
    margin-top: 4vh;
    text-align: center;
}
